<html>

<body>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Enter Text" />
        <input type="text" name="tag" placeholder="Tag">
        <button type="submit">Add</button>
    </form>
</div>
<div>List Of Messages:</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <button type="submit">Find</button>
</form>
{{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
{{/messages}}
</body>
</html>